
<div class="posts-holder">

  <div class="button_case">
    <span class="nav_header">Events -> Edit Event</span>
    <div>
      <a href="#/events" class="button bad"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to Events</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button ng-click="editArticle()" class="button"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>

    </div>
  </div>

<div class="edit_event_holder">

  <div class="event_cover cover-picture" style="background-image:url('{{article_cover}}')">
    <a class="overlay"  onclick="callUpload()"><i class="fa fa-upload"></i>&nbsp;&nbsp;&nbsp;Change Event Picture</a>
  </div>
  <div class="first">

    <input type="text" class="title" id="title" class="name" placeholder="Event Name" value="{{article[0].event_name}}"/>
    <input type="text" class="title" id="org" class="name" placeholder="Event Organizer" value="{{article[0].organizer}}" />
    <textarea class="title" id="desc" class="name" placeholder="Event Description">{{article[0].full_description}}</textarea>
    <input type="datetime-local" ng-model="event_date_model" class="date" id="date_value"/>

  </div>

</div>

<input type="file" nv-file-select="" uploader="uploader" id="image"/>


<!--<input type="button" value="Submit" ng-click="addPurpose()"/>-->

</div>
