<div class="posts-holder">

  <div class="button_case">
    <span class="nav_header">Events</span>
    <a href="#/events/new" class="button"><i class="fa fa-plus"></i>&nbsp;&nbsp;New Event</a>
  </div>

  <div class="events_holder">
    <a ng-repeat="single_feminique in articles" class="single_event" href="#/events/edit/{{single_feminique.id}}">
      <div class="event_cover" style="background-image:url('http://localhost:8080/events/{{single_feminique.header}}')"></div>
      <div class="first">

        <span class="name">{{single_feminique.event_name}}</span>
        <span class="name">{{single_feminique.organizer}}</span>
        <span class="views">{{single_feminique.description}} </span>
        <span class="date">{{getDateOnly(single_feminique.new_created_at)}}</span>

      </div>
      <div class="third">
        <button class="button" ng-click="deleteArticle({{single_feminique.id}}, $event);$event.preventDefault();"><i class="fa fa-trash" >&nbsp;&nbsp;</i>Delete</button>
      </div>
    </a>

  </div>
  <!--<div class="loadmore">
    <a href="#/purposes/new" class="button"><i class="fa fa-plus"></i>&nbsp;&nbsp;Load More</a>
  </div>-->

</div>
