<div class="posts-holder">

  <div class="button_case">
    <span class="nav_header">Gallery</span>
    <div>
      <a href="#/gallery/new-folder" class="button"><i class="fas fa-video"></i>&nbsp;&nbsp;New Folder</a>
    </div>
  </div>

  <a ng-repeat="single_feminique in articles" class="single_field" href="#/gallery/edit/{{single_feminique.ID}}">
    <div class="first">
      <div class="front_cover" style="background-image:url('{{single_feminique.front_cover}}')"></div>
      <div class="gallery_details">
        <span class="name">{{single_feminique.Name}}</span>
        <span class="date">{{getDateOnly(single_feminique.new_created_at)}}</span>
        <span class="views">{{single_feminique.views}} views</span>
      </div>
    </div>
    <div class="second">
      <span class="category">{{single_feminique.type}}</span>
      <span class="author">{{single_feminique.author_name}}</span>
    </div>
    <div class="third">
      <i class="fa fa-trash" ng-click="deleteArticle({{single_feminique.ID}}, $event);$event.preventDefault();"></i>
    </div>
  </a>

  <div class="loadmore">
    <a href="#/purposes/new" class="button"><i class="fa fa-plus"></i>&nbsp;&nbsp;Load More</a>
  </div>

</div>
