<div class="posts-holder">

  <div class="button_case">
    <span class="nav_header">Gallery -> New Folder</span>
    <div>
      <a href="#/gallery" class="button bad"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to Gallery</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button ng-click="addArticle()" class="button"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
    </div>
  </div>

  <input type="text" placeholder="Folder Name" class="title" id="title" />

  <input type="text" placeholder="Event Date" class="title" id="datepicker" />

  <textarea class="folder_desc" placeholder="Folder Description" id="description"></textarea>

  <span class="add_picture_details">Upload pictures to Folder</span>

  <div class="create_pictures_holder">
                    <a class="add_picture" ng-click="showUploader()"><i class="fa fa-2x fa-plus"></i></a>
                </div>

  <input type="file" nv-file-select="" uploader="uploader" id="image" onchange="countPictures()" accept="image/jpeg, image/gif, image/png" multiple/>

<!--<div class="x_select">
  <div class="d_header">Category</div>
  <select id="category">
    <option >His Travels</option>
    <option >His Nutrition</option>
    <option >His Home</option>
    <option >His Fashion</option>
    <option >His Health</option>
  </select>
</div>-->
<!--<input type="button" value="Submit" ng-click="addFeminique()"/>-->


</div>

<script>
 $(function() {
   $( "#datepicker" ).datepicker({dateFormat: "d M yy"});
 });
 </script>
