<div class="login_parent">

  <div class="overlay"></div>
  <div class="contents">

    <div class="login_box">

    <div class="details">
        <img src="http://abeautifullifebykenny.com/images/small_logo.png">
        <br/>
        <span class="title">Petals v0.6<sup>Beta</sup></span>

        <span class="message">Adminstrative backend for A Beautiful Life</span>
    </div>

    <div class="swerve">


        <span class="title">
          Sign In
        </span>

        <div class="child">
          <input type="text" placeholder="Email" ng-model="email">
          <input type="password" placeholder="Password" ng-model="password">
          <!--<a class="forgot">Forgot your password?</a>-->
        </div>


        <div class="button_holder">

          <a class="button" ng-click="login()">Sign In</a>

        </div>


    </div>

    </div>

  </div>




  <div class="footer login">
    <div>All Rights Reserved. A Beautiful Life &copy; 2017</div>
    <div>Designed with <i class="fa fa-heart"></i> in Lagos, Nigeria by <a href="http://ephodng.com" target="_blank">Ephod&trade;</a></div>
  </div>
</div>
