<div class="posts-holder">

  <div class="button_case">
    <span class="nav_header">Blog -> New Article</span>
    <div>
      <a href="#/blog" class="button bad"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button ng-click="addBlog()" class="button"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>

    </div>
  </div>
<input type="text" placeholder="Article Title" class="title" id="title"/>

<div class="writer" id="writer"></div>

<!--<input type="button" value="Submit" ng-click="addBlog()"/>-->

</div>

<script>
  function viewDang(){
    alert($('#writer').trumbowyg('html'));
  }

  $('#writer').trumbowyg({
    //autogrow: true,
    btnsDef: {
        // Customizables dropdowns
        image: {
            dropdown: ['insertImage', 'upload', 'base64', 'noEmbed'],
            ico: 'insertImage'
        }
    },
    btns: [
      ['viewHTML'],
      ['undo', 'redo'],
      ['formatting'],
      'btnGrp-design',
      ['link'],
      ['image'],
      ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
     ['unorderedList', 'orderedList'],
     ['removeformat'],
      'btnGrp-justify',
      'btnGrp-lists',
      ['foreColor', 'backColor'],
      ['preformatted'],
      ['horizontalRule'],
      ['fullscreen']
    ],
    plugins: {
        // Add imagur parameters to upload plugin
        upload: {
            serverPath: 'api/upload_image_blog',
            fileFieldName: 'image',
            /*headers: {
                'Authorization': 'Client-ID 9e57cb1c4791cea'
            },*/
            urlPropertyName: 'link',
            statusPropertyName: 'status',
            /*success: function (data){
              //this.execCmd('insertImage', data.link);
              //this.trumbowyg.closeModal();
              //alert(data.link);
              //console.log(data);
              //console.log(data.link);
            }*/
        }
    }
  });
</script>
